@import 'compass';

.template-front-page {
	h2 {
		font-size: 1.2em;
	}

	p {
		margin-bottom: 12px;
	}
}

#project-banner {
	@include clearfix;
	background-color: black;
	width: 100%;
	box-sizing: border-box;
	height: 320px;
	clear: both;
	position: relative;
}

#video-overlay {
	@include clearfix;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 320px;
	z-index: 3;
	background: url(images/project-banner-background.png) top center no-repeat;
	background-size: cover;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;

	h1 {
		font-size: 22px;
		margin-bottom: 20px;
		color: white;
		@include single-text-shadow(0px, 0px, 3px, 3px, #333);
	}

	p {
		color: white;
		margin-bottom: 20px;
	}

	a {
		color: white;
	}

	a#video-play-link {
		text-transform: uppercase;
		font-size: 1.2em;
	}
}

#video-container {
	z-index: 2;

	video {
		display: block;
		margin: 0 auto;

		p {
			padding: 1em;
			color: white;
			text-align: center;
		}
	}

	label {
		display: none;
	}
}

.section {
	margin: 20px 0;
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}

	p {
		line-height: 1.4em;
		margin-bottom: 18px;
	}
}

#news-banner {
	@include clearfix;
	margin: 36px 0;

	header {
		padding-bottom: 12px;
		margin-bottom: 36px;
		border-bottom: 1px solid #CCC;

		h2 {
			display: inline-block;
		}

		a {
			float: right;
		}
	}
}

.section-link {
	display: inline-block;
	text-transform: uppercase;
}

#news-section {

	img {
		display: none;
	}

	ul.news-list {

	}

	li.news-item {
		margin-bottom: 20px;
	}

	a.news-headline {
		display: block;
		margin-bottom: 6px;
	}

	p.news-date {
		font-size: 0.9em;
		color: #666;
		margin-bottom: 12px;
	}
}

img.kavatar {
	@include border-radius(50%);
}

#extra-info h2 {
	margin-bottom: 12px;
}

#extra-info li {
	margin-bottom: 12px;
}

#mc-embedded-subscribe-form {
	label {
		display: none;
	}

	input[type='email'] {
		width: 100%;
		font-size: 14px;
		margin-bottom: 12px;
	}
}

#newsflash {
	margin-bottom: 1em;

	label {
		display: inline-block;
		margin-bottom: .5em;
		text-transform: uppercase;
	}

	.news-date {
		background: #FFFF7F;
	}

	ul li {
		display: inline-block;
		margin-bottom: .5em;

		.category a {
			color: #636363;
			font-weight: bold;
		}
	}
}

#newsletter h3 {
	padding-bottom: .5em;
}

a.latest-newsletter {
	display: blocK;
	width: 290px;
	height: 178px;
	background: url(images/newsletter_screenshot.png) top center no-repeat;
	text-indent: -3333px;

	&:hover {
		background: url(images/newsletter_screenshot_hover.png) top center no-repeat;
	}
}

@media screen and (min-width: 782px) {

	.template-front-page .site-content {
		margin-top: 0;
	}

	#newsflash {
		margin-bottom: 0;
		line-height: 2.4em;
		padding: 0 1em;
		margin: 0.5em 0;
		height: 2.4em;
		overflow: hidden;
		font-size: 0.8em;
		display: block;

		label {
			padding-right: 1em;
			border-right: 1px solid #DEDEDE;
			margin-bottom: 0;
			float: left;
		}

		ul li {
			padding: 0 0.5em;
			border-right: 1px solid #DEDEDE;

			.permalink a {
				color: #D90000;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	#video-overlay {
		padding: 24px 60px;
		height: 320px;
		color: white;
		h1 {
			font-size: 36pt;
			@include single-text-shadow(0px, 0px, 2px, 3px, #333);
			color: white;
			margin-bottom: 20px;
		}

		p {
			font-size: 16pt;
			line-height: 1.4em;
			margin-bottom: 32px;
		}

		a {
			color: white;
		}

		a#video-play-link {
			font-size: 18pt;
			padding: 6px 0 8px 56px;
			background: url(images/play_button.png) top left no-repeat;

			&:hover {
				@include single-text-shadow(0px, 0px, 2px, 1px, #FFF);
			}
		}
	}

	#sections-banner {
		@include clearfix;
		margin-top: 20px;
	}

	.section {
		display: inline-block;
		padding: 0 20px;
		box-sizing: border-box;
		width: 33%;
		padding-top: 180px;

	}

	#research-section {
		background: url(images/research_section_icon.png) top center no-repeat;
	}

	#development-section {
		background: url(images/development_section_icon.png) top center no-repeat;
	}

	#dissemination-section {
		background: url(images/dissemination_section_icon.png) top center no-repeat;
	}

	#news-section {
		padding: 0 0 0 20px;
		width: 66%;
		float: left;
		box-sizing: border-box;

		li.news-item {
			display: inline-block;
			box-sizing: border-box;
			padding-right: 12px;
			width: 48%;
			overflow: hidden;
		}

		img {
			display: block;
			float: left;
			margin-right: 12px;
			width: 64px;
			height: 64px;
			@include border-radius(50%);
		}

		.news-content {
			overflow: hidden;
		}
	}

	#tweets-feed {
		display: inline-block;
		padding: 0 20px;
		width: 33%;
		box-sizing: border-box;
	}

	#extra-info {
		margin-bottom: 36px;
	}

	#success-stories {
		display: inline-block;
		float: left;
		padding: 0 20px;
		width: 66%;
		box-sizing: border-box;

		p {
			display: inline-block;
			width: 40%;
			float: left;
			padding-right: 18px;
			box-sizing: border-box;
		}

		ul {
			display: inline-block;
			width: 60%;
			overflow: hidden;
		}

		li {
			display: inline-block;
			margin-right: 1em;
			float: left;

			a {
				display: block;			
			}
		}

		#rwg-story img {
			width: 98px;
			height: 60px;
		}

		#maavis-story img {
			width: 140px;
			height: 48px;
		}

		#ma-story img {
			width: 60px;
			height: 60px;
		}

	}

	#newsletter {
		display: inline-block;
		padding: 0 20px;
		width: 33%;
		box-sizing: border-box;

	}


}
