// Calendar
.gce-widget-list .gce-list {
	ul {
		margin-left: 0 !important;
	}

	ul li {
		line-height: 1.4em !important;
		margin-bottom: 1em;
	}

	.gce-list-title{
		margin-bottom: 1em;
	}

	.gce-list-event {
		background: none;
	}
}